<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adas">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".WordRecognition.WordRecogResult"></activity>
        <activity android:name=".WordRecognition.WordRecogAns" />
        <activity android:name=".WordRecognition.WordRecog" />
        <activity android:name=".GuessingObjects.HighScoreActivity" />
        <activity android:name=".GuessingObjects.StartImageGame" />
        <activity android:name=".Constructional_Praxis.DrawingActivity" />
        <activity android:name=".WordRecognition.WordRecognition" />
        <activity android:name=".DelayedRecall.DelayedRecallResults" />
        <activity android:name=".DelayedRecall.DelayedRecallAns" />
        <activity android:name=".DelayedRecall.DelayedRecall" />
        <activity android:name=".WordRecall.WordRecallResults" />
        <activity android:name=".WordRecall.WordRecallAns" />
        <activity android:name=".GuessingObjects.GuessTheImage" />
        <activity android:name=".AddPatientActivity" />
        <activity android:name=".WordRecall.WordRecall" />
        <activity android:name=".AssessmentActivity" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".PatientActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GuessingObjects.NamingFingers" />
        <activity android:name=".Orientation.OrientationViewPager" />
        <activity android:name=".SpeechComprehension.SpeechTask" />
        <activity android:name=".IdeationalPraxis.IdeationalPraxisActivity" />
        <activity android:name=".AssessmentLandingPageActivity" />
        <activity
            android:name=".NumberCancellation.NumberCancellationActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SpokenLanguage.SpokenLanguageActivity"/>

        <meta-data
            android:name="com.google.geo.API_KEY"
            android:value="AIzaSyDTdQwtiqUknkl9HkEU_YdvuGjyGNDlChY" />
    </application>

</manifest>